<section class="section_games">
    <picture class="img_perfil">
        <img src="https://i.postimg.cc/mkLSWwyn/avatar.jpg" alt="img_perfil">
    </picture>
    <h1 class="section_games__title">John Wick</h1>
    <h3 class="section_games__subtitle">Asesino legendario</h3>
    <app-button text="seguir"/>
    <section class="section_games__infoContainer infoPerfil">
        <span class="info">
            <h4>12K</h4>
            <p>Segidores</p>
        </span>
        <span class="info">
            <h4>1.7K</h4>
            <p>Siguiendo</p>
        </span>
        <span class="info">
            <h4>40</h4>
            <p>Articulos</p>
        </span>
    </section>
    <h2 class="section_games__about">Acerca de mi</h2>
    <h3 class="section_games__aboutText">Asesio asueldo retirado y amante de los perros</h3>
    <section class="section_games__infoContainer infoLocation">
        <span class="mdi--location"></span>
        <div>
            <h3>Estados unidos</h3>
            <p>227Km cerca</p>
        </div>
    </section>
    <section class="section_games__infoContainer infoImg">
        <h3 class="title">Mis fotos</h3>
        <div class="containerImg">
            <img class="img1" src="https://i.postimg.cc/Prvf5bxp/galeria1.jpg" alt="">
            <img class="img2" src="https://i.postimg.cc/WbmrXJRy/galeria2.jpg" alt="">
            <img class="img3" src="https://i.postimg.cc/cLSqG2bH/galeria3.jpg" alt="">
            <img class="img4" src="https://i.postimg.cc/rmdZrNP3/galeria4.jpg" alt="">
        </div>
    </section>
</section>
