<section class="section-info">
  <app-news
    platform="playstation"
    title="gta vi: filtraciones de informacion que son bastante dudodsas"
    content="Recientemente se filtró en Internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy buena idea de lo que podemos esperar."
  />
  <app-news
    platform="switch"
    title="secuela de the legend of zelda: breath of the wild anunciada en el e3 2019"
    content="Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto."
  />
  <app-news
    platform="xbox"
    title="red dead online recibe actualización masiva y sale de beta"
    content="rockstar lanzó el día de hoy la actualización más grande de red dead online desde que el componente online de red dead redemption 2 se lanzó en noviembre"
  />
</section>
